<ion-header>

  <ion-navbar>
    <ion-title>{{ getTitulo() }} Treino</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSalvarTreino(f)">
    <ion-list>
      <ion-item no-lines>
        <ion-label floating>Dia</ion-label>
        <ion-datetime required displayFormat="DD/MM/YYYY" name="dia" [ngModel]="hoje"></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header no-lines>
        Séries
        <button item-end ion-button color="primary" (click)="onAdicionarSerie()" type="button" outline>Adicionar</button>
      </ion-list-header>
      <p text-center *ngIf="!seriesView.length">Não há séries cadastradas.</p>
      <ion-item-sliding>
        <ion-item no-lines *ngFor="let serie of seriesView; let i = index;">
          <h2><b>{{ serie.exercicio.nome }}</b></h2>
          <h3><b>{{ serie.tempo }}</b> de duração</h3>
          <h3 item-end>{{ serie.instrumento}}</h3>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="onRemoverSerie(i)">
          <ion-icon name="trash"></ion-icon>
          Remover
        </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <button
      type="submit"
      ion-button
      block
      [disabled]="!f.valid || !seriesView.length ">Salvar Treino</button>
  </form>
</ion-content>
